<ul class="d-flex flex-wrap gap-5">
    @for(item of items;track $index){
    <li class="d-flex flex-column justify-content-between text-center" style="width:150px">
        <img [src]="item.thumbnail" class="ratio ratio-1x1re" style="width: 100%;" alt="">
        <b>{{item.title}}</b>
        @if(ecomService.isItemInCart(item)){
        <app-itemincdec [item]="item"></app-itemincdec>
        }
        @else{
        <button class="btn btn-success btn-sm" (click)="addToCart(item)">Add to Cart</button>
        }
    </li>
    }
</ul>