<h1>Hello Edupoly {{myname}}</h1>
<input type="text" [(ngModel)]="myname">
<input type="text" [value]="myname">
<br>
<input type="radio" [(ngModel)]="gender" value="m">:Male
<input type="radio" [(ngModel)]="gender" value="f">:Female
<input type="radio" [(ngModel)]="gender" value="o">:Others
<h1>Selected Gender:{{gender}}</h1>
<button (click)="greeting()">Alert Your Place</button>
<br>
<input type="checkbox" [(ngModel)]="c"> : I agree the terms and conditions
<button [disabled]="!c">Save</button>
<!-- interpolation -->
<!-- property binding -->